<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- This is ready for flash messages -->
<%- messages() %>

<div class="login-container">
    
    <div class="form">
        <form action="#" method="post">
            <label for="email">Email Address:</label>
            <input type="email" name="account_email" id="email" required>
            <label for="password">Password</label>
            <input type="password" name="account_password" id="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            
            <span id="pswBtn" class="showPass">Show Password</span>
            <button>Login</button>
        </form>
        
    </div>
    <div class="signup">
        <span>No account?<a href="/account/register">Sign-up</a></span>
    </div>

</div>

<script src="/js/script.js"></script>