<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- This is ready for flash messages -->
<!-- <%- message %>  -->

<div class="login-container">
    <!-- <h2>All fields are required</h2> -->
    <div class="form">
        <form action="#" method="post">
            <label for="account_firstname">First Name</label>
            <input type="text" name="account_firstname" id="fname">
            <label for="account_lastname">Last Name</label>
            <input type="text" name="account_lastname" id="lname">
            <label for="account_email">Email Address</label>
            <input type="text" name="account_email" id="email">
            <label for="account_password">Password</label>
            <input type="password" name="account_password" id="password">
            <p>All inputs are required. Passwords must be minimun of 12 characters and 
                include 1 capital letter, 1 number and 1 special character.
            </p>
            <span id="pswBtn" class="showPass">Show Password</span>
            <button>Register</button>
        </form>
        
    </div>
    <div class="signup">
        <span>Already registered?<a href="/account/login">Log in</a></span>
    </div>

</div>

<script src="/js/script.js"></script>