<% /* The Content Heading */ %>
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- This is ready for flash messages -->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>

<!-- FORM ADDING NEW VEHICLE -->
<!-- <div class="newInventoryForm">
    
    <div class="form">
        <label class="instruction">All fields are required.</label>
        <form id="newInventoryForm" action="/inv/addInventory" method="post">
            <label class="bigger" for="classification">Classification</label>

            <select id="classification" name="classification">
                <option value="One">One</option>
                <option value="Two">Two</option>

            </select>

            <label class="instruction">Name must be alphabetic characters only.</label>
            <input type="text" name="classification_name" id="classification_name" required>
            <input type="submit" id="addClassification" value="Add Classification">
        </form>
        
    </div>
</div> -->


<% /* Displaying Inventory Items */ %>
<%- grid %>

<script src="/js/script.js"></script>