<% /* The Content Heading */ %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<% /* A Message Block */ %>
<!-- This is ready for flash messages for managemente page-->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>

<% /* Displaying Inventory Items */ %>
<%- grid %>